{% extends 'base.html' %}

{% block content %}

    <h1>Reset Password</h1>

    {% if reset_sent %}
        <div class="signup_link">A password reset link has been sent to your email and is valid for <b>10 minutes</b></div>
        <form method="POST">
            <div class="txt_field" hidden>
                <input type="email" name="email" required value="{{email}}">
                <span></span>
                <label>Email</label>
            </div>
            <div class="signup_link">
                Didn't receive email?
            </div>
            <input type="submit" value="Resend Email">
            <br>
        </form>

    {% else %}
        <div class="signup_link">Enter your email to reset password</div>
        <form method="POST">
            <div class="txt_field">
                <input type="email" name="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <input type="submit" value="Reset Password">
            <div class="signup_link">
                Not a member? <a href="{{ url_for('register') }}">Signup</a>
                <p>Remember your Password? <a href="{{ url_for('login') }}">Login</a></p> 
            </div>
        </form>

    {% endif %}

{% endblock content %}
