{% extends 'base.html' %}

{% block content %}

    <h1>Reset Password</h1>
            
    <form method="POST">
        <div class="txt_field">
            <input type="password" name="password" required>
            <span></span>
            <label>Password</label>
        </div>    

        <div class="txt_field">
            <input type="password" name="confirm_password" required>
            <span></span>
            <label>Confirm Password</label>
        </div>    

        <input type="submit" value="Reset password">
        <div class="signup_link">
            Remember your password? <a href="{{ url_for('login') }}">Login</a>
        </div>
    </form>

{% endblock content %}
